.idea/copilot.data.migration.ask2agent.xml
.idea/misc.xml
.idea/Projeto-de-Linguagem-de-programacao.iml
moinho-3x3/__pycache__/p_solved.cpython-313.pyc
moinho-3x3/__pycache__/public_tests.cpython-313.pyc
moinho-3x3/__pycache__/projeto.cpython-313.pyc
moinho-3x3/public_tests.py
