.idea/copilot.data.migration.ask2agent.xml
.idea/workspace.xml
moinho-3x3/__pycache__/projeto.cpython-313.pyc
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.edit.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/Projeto-de-Linguagem-de-programacao.iml
.idea/vcs.xml
.idea/copilot.data.migration.agent.xml
